.flex{
    display: flex;
    justify-content: space-evenly;
}


.p{
    display: flex;
    justify-content: space-evenly;
}
span
{
    color:black;
}
.c1{
    height: 700px;
    width: 1200px;
    padding-left: 150px;
}
.tej{
    padding-left: 70px;
    
}