
  
 
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  .position{
display: flex;
justify-content: center;
padding-top: 100px;
  }
  
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: snow;}
  
  #customers tr:hover {background-color: snow;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
   
    
  }
  .tr {
  background-color: #04AA6D;
  text-align: center;
}
.flex1{
display: flex;
justify-content: center;
}
  